@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>User Email: @ViewData["UserName"]</h1>
</div>
<div style="display:flex">
    <div >
        <h1>Total Anaswers :@ViewData["Anaswers"]</h1>
        <h1>Total Anaswers Up Vote :@ViewData["TotaAnaswerslUp"]</h1>
        <h1>Total Anaswers Down Vote :@ViewData["TotalAnaswersDown"]</h1>
    </div>
  
    <div style="margin-left:20px">
        <h1>Total Questions :@ViewData["Questions"] </h1>
        <h1>Total Questions Up Vote :@ViewData["TotalQuestionsUp"]</h1>
        <h1>Total Questions Down Vote :@ViewData["TotalQuestionsDown"]</h1>

    </div>

</div>

